[user]
	name = Vineel Kovvuri
	email = vineel.kovvuri@gmail.com
[alias]
    st = status
    br = branch -vv
    co = checkout
    lg = log --oneline -20
    ln = log --name-only
    cp = cherry-pick
[diff]
	tool = meld
    colormoved = "default"
    colormovedws = "allow-indentation-change"
[difftool]
    prompt = false
[merge]
	tool = meld
[mergetool]
    prompt = false
[color]
    ui = auto
[core]
	editor = micro
	autocrlf = false
[help]
    autocorrect = 1

[safe]
    directory = *